@font-face {
	font-family:'Avenir';
	src:url('AvenirLTStd-Light.otf');
}


@font-face {
	font-family:'Avenir';
	font-weight:700;
	src:url('AvenirLTStd-Heavy.otf');
}


@font-face {
	font-family:'Avenir';
	font-weight:900;
	src:url('AvenirLTStd-Black.otf');
}
