
// Theme colors


//// Orange
$extra-dark-orange:#9b2603;
$dark-orange: #D23C0F;
$light-orange: #ff5d2b ;
$extra-light-orange:#FCCE7C;
$light-orange-80:#ff5d2b80;

//// Red
$light-red: #FFDCC5;
$dark-red:#5B2D0E;

//// Teal
$dark-teal: #037657 ;
$light-teal: #0fd19e ;

//// Blue
$light-blue: #e0fcf3;
$gradient-blue: linear-gradient(to bottom,#fff,$light-blue);

//// Gray
$dark-gray: #373a47;


// Text colors
$text-gray: #1a1a1a ;